extends layout

block content
  h1= title
  - let chair-img = results
    table
        thead
            tr 
                th(scope="col") Chair_type 
                th(scope="col") Color 
                th(scope="col") Cost
        tbody        
            - for(let i=0;i<chair-img.length;i++){
                tr
                    td  #{chair-img[i].Chair_type}
                    td  #{chair-img[i].Color}
                    td  #{chair-img[i].Cost}
            - }