extends layout 
 
block content 
  h1= title 
 
  - let Chairsid = toShow._id 
  - let Chairs_type = toShow.Chairs_type 
  - let Chairscolor = toShow.color
  - let Chairscost = toShow.cost 
   
  div.row(class='mb-4') 
    div.mr-1 ID is 
    div #{Chairsid} 
  - let actionid = "/resource/Chairs/" + Chairsid 
  form(id='ChairsForm', action= actionid, method="PUT") 
    div.form-group 
        label.ChairsAttr(for='Chairs_type') Chairs type 
        input#Chairss_type(type='text', name='Chairss_type', value= Chairss_type ) 
    div.form-group 
        label.ChairsAttr(for='Color') Chairs color  
        input#Color(type='text', name='Color', value= Chairscolor ) 
    div.form-group 
        label.ChairsAttr(for='Cost') Chairs cost 
        input#Cost(type='number', name='Cost', value= Chairscost ) 
    input(class="btn btn-info m-4" type="submit") 

    button(class="btn btn-warning m-4" onclick="window.location.href='/Chairs'") Cancel 
 
  script. 
    document.forms['ChairsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });