extends layout 
 
block content 
  h1= title 
 
  - let Chairsid = toShow._id
  - let Chair_type = toShow.Chair_type
  - let ChairColor = toShow.Color
  - let ChairCost = toShow.Cost
   
  div.row(class='mb-4') 
    div.mr-1 ID is 
    div #{Chairsid} 
  - let actionid = "/resource/Chairs/" + Chairsid 
  form(id='ChairsForm', action= actionid, method="PUT") 
    div.form-group 
        label.ChairsAttr(for='Chair_type') Chair type 
        input#Chair_type(type='text', name='Chair_type', value= Chair_type ) 
    div.form-group 
        label.ChairsAttr(for='Color') Chair Color  
        input#Color(type='text', name='Color', value= ChairColor ) 
    div.form-group 
        label.ChairsAttr(for='Cost') Chair Cost 
        input#Cost(type='number', name='Cost', value= ChairCost ) 
    input(class="btn btn-Success m-4" type="submit") 

    button(class="btn btn-primary m-4" onclick="window.location.href='/Chairs'") Cancel 
 
  script. 
    document.forms['ChairsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });