body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ee87f1;
}

.ChairsAttr {
  background-color: hsl(0, 85%, 70%);
  width: 120px;
 }

 h1 {
   color: rgb(7, 80, 102);
 }